@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

body {
  background-color: white;
  font-size: 16px;
  color: #292929;
  font-family: Helvetica, Arial, sans-serif;
}

footer {
  font-size: 10px;
  width: 100%;
}

label > select {
  margin-left: 5px;
}

.App {
  text-align: center;
}

.coin-table {
  text-align: center;
  margin: auto;
}

img.coin-image {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

img.loading {
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
    width: 20px;
    height: 20px;
}

.coin-table {
  border-collapse: collapse;
}

.coin-table tbody > tr:hover {
  background: #c7dcff;
}

.coin-table th div {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.coin-table td, .coin-table th {
  padding: 0px 20px;
  white-space: nowrap;
}

.coin-table td:first-child {
  white-space: nowrap;
}

.coin-table td:last-child {
  padding: 0;
}

.coin-table .sparkline-container {
  margin: 0px 10px;
}

.header-btc-logo {
  height: 20px;
  width: 20px;
}

.positive-change {
  color: green;
}

.negative-change {
  color: red;
}

.coin-row {
  text-align: left;
}
